@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@300;400&family=Ubuntu&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@300&family=Ubuntu&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 100%;
  

 } 
 header{
    
    background: white;
    position: sticky;
    top:0;
    
    border-bottom: 0.2px solid #cccccc;
    border-top: none;
    border-right: none;
    border-left: none;
    
    width: 100%;
    z-index: 1111;
 }
.main-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-head img{
 margin-left: 20px;
 justify-content: space-between;
 align-items: center;
 height: 70px;
 color:black;
}
nav ul{
    display: flex;
    list-style: none;
 }
 nav li{
    padding: 5px 10px;
    border: none;
    display: inline-block;
    padding: 5px;
    transition: all linear 0.5s;
    margin-right: 50px;
 }
 nav li a{
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    color: #29140f;
    padding: 2px;
 }

 nav li a:hover{
 font-size: 18px;
 }

 .active{
  
    border-bottom: 4px solid #C4A484;
    border-top: none;
    border-right: none;
    border-left: none;
   display: inline-block;
   padding: 10px;
 }
 section h1{
    text-align: left;
    padding: 20px;
    padding-top: 100px;
 }
 .wrapper{
   
   padding: 110px;
   color:#29140f ;
   font-family:'Poppins', sans-serif;
   font-size: bold;
   
 }
 .wrapper img{
    float: left;
    margin-right: 10px;
    max-width: 600px;
    
 }
 .textbox{
   font-family:  'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
 }
 .textbox h1{
   font-family:'Poppins', sans-serif;
    font-size: 40px;
 }
 .Submit1{
    padding-top: 85px;
    
    margin: auto;
    width: 300px;
    
 }
 .textbox button{
   
    box-shadow: -3px 5px 3px rgb(110, 109, 109);
   
    border-radius: 10px;
  
    font-family:'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    background-color:#C4A484;
   
    padding: 8px;
	border:none;
 }
 .textbox button a{
 
    
   
    
    color: #fff;
    
   
    text-decoration: none;
    
	
 }
 .textbox button:hover{
    background-color: #29140f;
 }
 .textbox button a:hover{
    color: #ffffff;
 }
 .about{
    margin: auto;
    width: 70%;
    box-shadow: -5px 5px 25px #e0dede; 
    text-align: center;
    
 }
 .about:hover{
   color: #fff;
    background-color: #C4A484;
 }
 .about h1{

    text-align: center;
    font-weight: bold;
    font-size: 40px;
 }
 .about p{
    font-family:  'Roboto', sans-serif;
    font-weight: 400;
   font-size: 17px;
  margin-left: 40px ;
    margin-right: 40px;
    text-align: left;
    line-height: 2;
    padding-bottom: 40px;
 }
 .ethio{
   width: 100%;
    margin: auto;
    margin-bottom: 40px;
    background-color: #C4A484;

 }

 .ethio h1{
text-align: center;
    color: #fff;
    font-size: 40px;
 }
 .ethio p{
    font-family:  'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
        color: #fff;
        padding-right: 30px;
       padding-bottom: 60px;
        margin-left: 30px;
        font-size: 19px;
       
     }
 .ethio img{
    
    width:600px;
    float: left;
    margin-left: 10px;

 }
 .ethio1 img{
   
    width:600px;
    float: right;
    margin-left: 20px;
 }
 .last{
    background-color: #C4A484;
 }
 .last p{
    font-family:  'Roboto', sans-serif;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 20px;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
   
 }
 #principles{
 
   background-color: #fafafa;
 }

 .prin h1{
  
   font-family:'Poppins', sans-serif;
   font-weight: bold;
   font-size: 40px;
text-align: center;
 }
 .prin p{
   text-align: center;
   font-family:  'Roboto', sans-serif;
 }
 .prin img{
   align-items: center;
width: 300px;
 }
 .dil{
   margin: auto;
   text-align: center;
   box-shadow: -5px 5px 10px #bfc0c0;
   width: 95%;
   height: 200px;
   margin-bottom: 50px;
 }
 .dil h2{
   font-family:'Poppins', sans-serif;
   font-weight: bold;
   font-size: 30px;
   padding-top: 50px;
padding-right: 100px;
 }
 .dil p{
   font-family:  'Roboto', sans-serif;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
 }
 .dil img{
   float: left;
   padding-top: 10px;
   padding-left: 20px;
   object-fit: cover;
   
 }
 .dil:hover{
   background-color: #C4A484;
   color: #fff;
 }


 .int{
   width: 95%;
   margin: auto;
   text-align: center;
   box-shadow: -5px 5px 10px #bfc0c0;
   
   height: 200px;
   margin-bottom: 50px;
 }
 .int:hover{
   background-color: #C4A484;
   color: #fff;
 }
 .int h2{
   font-family:'Poppins', sans-serif;
   font-weight: bold;
   font-size: 30px;
   padding-top: 50px;
padding-right: 100px;
 }
 .int p{
   font-family:  'Roboto', sans-serif;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
 }
 .int img{
   float: left;
   padding-top: 10px;
   padding-left: 20px;
   object-fit: cover;
   
 }





 .faith{
   margin: auto;
   text-align: center;
   box-shadow: -5px 5px 10px #bfc0c0;
   width: 95%;
   height: 200px;
   margin-bottom: 50px;
 }
 .faith:hover{
   background-color: #C4A484;
   color: #fff;
 }
 .faith h2{
   font-family:'Poppins', sans-serif;
   font-weight: bold;
   font-size: 30px;
   padding-top: 50px;
padding-right: 100px;
 }
 .faith p{
   font-family:  'Roboto', sans-serif;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
 }
 .faith img{
   float: left;
   padding-top: 10px;
   padding-left: 20px;
   object-fit: cover;
   
 }
 #services img{
   width: 500px;
   float: left;
 
   padding-left: 20px;
   
 
 }
 #services h1{
   font-family:'Poppins', sans-serif;
   font-size: bold;
  padding-left: 150px;
   font-size: 55px;
 }
 #services h2{
   font-family:'Poppins', sans-serif;
   font-size: bold;
margin-bottom: -25px;
   font-size: 30px;
 }
 #services p{
   font-family:  'Roboto', sans-serif;
   line-height: 1.8;
   margin-right: 30px;
 }
 #services ul{
  
  padding-left: 10px;
 
   font-family:  'Roboto', sans-serif;
   line-height: 1.8;
 }
 